@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 15, ../sass/screen.scss */
body {
  padding-bottom: 44px;
}

/* line 18, ../sass/screen.scss */
.mcolor {
  color: #c2ce8c;
}

/* line 21, ../sass/screen.scss */
.button.mcolor {
  border: 1px solid #c2ce8c;
}

/* line 24, ../sass/screen.scss */
.button.mcolor.active {
  color: #fff;
  background-color: #c2ce8c;
}

/* line 28, ../sass/screen.scss */
.bg-mcolor {
  background: #c2ce8c !important;
}

/* line 31, ../sass/screen.scss */
.bg-mcolor2 {
  background: #000;
  color: #fff;
}

/* line 35, ../sass/screen.scss */
nav ul li a.current {
  color: #c2ce8c;
  border-color: #c2ce8c;
}

/* line 39, ../sass/screen.scss */
.item img {
  height: 100px;
}

/* line 42, ../sass/screen.scss */
.item p {
  height: auto;
  white-space: inherit;
  line-height: 20px;
}

/* line 47, ../sass/screen.scss */
input.label {
  border: none;
}

/* line 50, ../sass/screen.scss */
a {
  color: #c2ce8c;
}

/* line 53, ../sass/screen.scss */
.left {
  float: left;
}

/* line 57, ../sass/screen.scss */
.highLight {
  color: #c2ce8c !important;
}

/* line 60, ../sass/screen.scss */
.pointer {
  cursor: pointer;
}

/* line 63, ../sass/screen.scss */
body {
  background: #F7F6F6;
  font-size: 14px;
  font-family: "微软雅黑";
}

/* line 68, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 71, ../sass/screen.scss */
.ownerWords, .ownerName {
  margin: 5px 0;
  line-height: 18px;
}

/* line 75, ../sass/screen.scss */
.bookCover {
  width: 60% !important;
  margin: 20px auto !important;
  display: block;
  float: none !important;
  height: auto !important;
}

/* line 82, ../sass/screen.scss */
.bookAction {
  font-size: 14px;
  color: #c2ce8c;
  font-weight: 700;
  margin-bottom: 20px;
}

/* line 88, ../sass/screen.scss */
.bookValue {
  background: #c2ce8c;
  color: #fff;
  width: 100%;
  text-align: center;
  line-height: 35px;
}

/* line 95, ../sass/screen.scss */
.searchBox {
  position: relative;
}
/* line 97, ../sass/screen.scss */
.searchBox .search {
  display: block;
  width: 100%;
  margin: 10px auto;
  padding: 5px 10px;
  box-sizing: border-box;
  text-align: center;
  color: #999;
  font-size: 14px;
  line-height: 20px;
  border-radius: 5px;
  border: 1px solid #ececec;
}
/* line 110, ../sass/screen.scss */
.searchBox .searchNotic {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 35px;
  text-align: center;
  color: #999;
}

/* line 120, ../sass/screen.scss */
.tabs .label.current {
  background: #c2ce8c;
}

/* line 123, ../sass/screen.scss */
.userIcon {
  width: 30px !important;
  height: 30px !important;
  margin: 0 10px;
  border-radius: 50%;
  border: 2px solid #c2ce8c;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

/*添加活动*/
/* line 134, ../sass/screen.scss */
#editButton {
  width: 40px;
  height: 40px;
  background: url("/img/edit.png") no-repeat;
  background-size: cover;
  border-radius: 50%;
  position: fixed;
  right: 15px;
  bottom: 55px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/* line 148, ../sass/screen.scss */
.bookList .bookItem {
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
  color: #666;
  margin-bottom: 20px;
  overflow: hidden;
  margin: 10px 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #ddd;
}
/* line 159, ../sass/screen.scss */
.bookList .bookItem:last-child {
  margin-bottom: 0;
}

/* line 163, ../sass/screen.scss */
.navBox {
  display: none;
  background: #fcfcfc;
  margin: 0;
  padding: 10px 0px 5px;
}
/* line 168, ../sass/screen.scss */
.navBox .nav {
  margin: 0;
  text-align: center;
}
/* line 171, ../sass/screen.scss */
.navBox .nav .navItem a {
  display: block;
  font-size: 16px;
  color: #999;
  border-bottom: 1px solid #ececec;
  line-height: 35px;
  list-style: none;
}
/* line 179, ../sass/screen.scss */
.navBox .nav .navItem a::before {
  font-size: 18px;
  margin-right: 8px;
}
/* line 183, ../sass/screen.scss */
.navBox .nav .navItem:last-child {
  border-bottom: none;
}

/* line 188, ../sass/screen.scss */
.bookInfo {
  margin: 0;
  padding: 20px;
  background: #fff;
}

/* line 193, ../sass/screen.scss */
.timeLine {
  width: 280px;
  margin: 0 auto;
  padding: 30px 0;
}
/* line 197, ../sass/screen.scss */
.timeLine .timeLineItem {
  overflow: hidden;
  position: relative;
  padding-bottom: 30px;
}
/* line 201, ../sass/screen.scss */
.timeLine .timeLineItem .time {
  text-align: right;
}
/* line 203, ../sass/screen.scss */
.timeLine .timeLineItem .time .day {
  font-size: 12px;
}
/* line 206, ../sass/screen.scss */
.timeLine .timeLineItem .time .hour {
  font-size: 14px;
  font-weight: 700;
}
/* line 210, ../sass/screen.scss */
.timeLine .timeLineItem .time p {
  margin: 5px 0;
}
/* line 214, ../sass/screen.scss */
.timeLine .timeLineItem .leftLine {
  border-left: 1px solid #c2ce8c;
  padding-left: 27px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
  padding-bottom: 30px;
  margin-bottom: 1px;
  min-height: 50px;
  margin-top: 32px;
}
/* line 226, ../sass/screen.scss */
.timeLine .timeLineItem .userState {
  margin-top: -30px;
  padding: 5px;
  width: 149px;
  border-radius: 5px;
}
/* line 233, ../sass/screen.scss */
.timeLine .timeLineItem .userState .userInfo .userName {
  font-size: 14px;
  font-weight: 700;
}
/* line 237, ../sass/screen.scss */
.timeLine .timeLineItem .userState .userInfo .userClass {
  font-size: 12px;
}
/* line 243, ../sass/screen.scss */
.timeLine .timeLineItem:last-child .leftLine {
  border: none;
}

/* line 247, ../sass/screen.scss */
.newsItem {
  overflow: hidden;
}
/* line 249, ../sass/screen.scss */
.newsItem .userIcon {
  margin-left: 0;
}

/* line 253, ../sass/screen.scss */
.commentList {
  padding-left: 40px;
}
/* line 255, ../sass/screen.scss */
.commentList .userIcon {
  width: 20px !important;
  height: 20px !important;
  margin-right: 7px;
}
/* line 260, ../sass/screen.scss */
.commentList p {
  line-height: 18px;
}

/* line 264, ../sass/screen.scss */
.commentBox {
  overflow: hidden;
  margin: 10px auto;
}
/* line 267, ../sass/screen.scss */
.commentBox input[type='text'] {
  border: 1px solid #ececec;
  width: 85%;
  height: 26px;
  padding: 2px 5px;
}
/* line 273, ../sass/screen.scss */
.commentBox textarea {
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #c2ce8c;
  padding: 10px;
  resize: none;
}
/* line 281, ../sass/screen.scss */
.commentBox input[type="submit"] {
  background: #c2ce8c;
  border: none;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
