@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 18, ../sass/screen.scss */
body {
  padding-bottom: 44px;
}

/* line 21, ../sass/screen.scss */
.mcolor {
  color: #76862e;
}

/* line 24, ../sass/screen.scss */
.button.mcolor {
  border: 1px solid #76862e;
}

/* line 27, ../sass/screen.scss */
.button.mcolor.active {
  color: #fff;
  background-color: #76862e;
}

/* line 31, ../sass/screen.scss */
.bg-mcolor {
  background: #76862e !important;
}

/* line 34, ../sass/screen.scss */
.bg-mcolor2 {
  background: #000;
  color: #fff;
}

/* line 38, ../sass/screen.scss */
nav ul li a.current {
  color: #76862e;
  border-color: #76862e;
}

/* line 42, ../sass/screen.scss */
.item img {
  height: 100px;
}

/* line 45, ../sass/screen.scss */
.item p {
  height: auto;
  white-space: inherit;
  line-height: 20px;
  font-size: 14px;
}

/* line 51, ../sass/screen.scss */
input.label {
  border: none;
}

/* line 54, ../sass/screen.scss */
a {
  color: #76862e;
}

/* line 57, ../sass/screen.scss */
.left {
  float: left;
  margin-right: 0;
}

/* line 63, ../sass/screen.scss */
.mcolor {
  color: #76862e !important;
}

/* line 66, ../sass/screen.scss */
.pointer {
  cursor: pointer;
}

/* line 69, ../sass/screen.scss */
body {
  background: #F7F6F6;
  font-size: 14px;
  font-family: "微软雅黑";
}

/* line 74, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 77, ../sass/screen.scss */
.ownerWords, .ownerName {
  margin: 5px 0;
  line-height: 18px;
}

/* line 81, ../sass/screen.scss */
.bookCover {
  width: 100px !important;
  margin: 20px auto !important;
  display: block;
  float: none !important;
  height: auto !important;
}

/* line 88, ../sass/screen.scss */
.bookAction {
  font-size: 14px;
  color: #76862e;
  font-weight: 700;
  margin-bottom: 20px;
}

/* line 94, ../sass/screen.scss */
.bookValue {
  background: #76862e;
  color: #fff;
  width: 100%;
  text-align: center;
  line-height: 35px;
}

/* line 101, ../sass/screen.scss */
.searchBox {
  position: relative;
}
/* line 103, ../sass/screen.scss */
.searchBox .search {
  display: block;
  width: 100%;
  margin: 10px auto;
  padding: 5px 10px;
  box-sizing: border-box;
  text-align: center;
  color: #999;
  font-size: 14px;
  line-height: 20px;
  border-radius: 5px;
  border: 1px solid #ececec;
}
/* line 116, ../sass/screen.scss */
.searchBox .searchNotic {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 35px;
  text-align: center;
  color: #999;
}

/* line 126, ../sass/screen.scss */
.tabs .label.current {
  background: #76862e;
}

/* line 129, ../sass/screen.scss */
.userIcon {
  width: 30px !important;
  height: 30px !important;
  margin: 0 10px;
  border-radius: 50%;
  border: 2px solid #76862e;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

/*添加活动*/
/* line 140, ../sass/screen.scss */
#editButton {
  width: 40px;
  height: 40px;
  background: url("/img/edit.png") no-repeat;
  background-size: cover;
  border-radius: 50%;
  position: fixed;
  right: 15px;
  bottom: 55px;
}

/* line 153, ../sass/screen.scss */
.bookList .bookItem {
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
  color: #666;
  margin-bottom: 20px;
  overflow: hidden;
  margin: 10px 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #ddd;
}
/* line 164, ../sass/screen.scss */
.bookList .bookItem:last-child {
  margin-bottom: 0;
}

/* line 168, ../sass/screen.scss */
.navBox {
  display: none;
  background: #fcfcfc;
  margin: 0;
  padding: 10px 0px 5px;
}
/* line 173, ../sass/screen.scss */
.navBox .nav {
  margin: 0;
  text-align: center;
}
/* line 176, ../sass/screen.scss */
.navBox .nav .navItem a {
  display: block;
  font-size: 16px;
  color: #999;
  border-bottom: 1px solid #ececec;
  line-height: 35px;
  list-style: none;
}
/* line 184, ../sass/screen.scss */
.navBox .nav .navItem a::before {
  font-size: 18px;
  margin-right: 8px;
}
/* line 188, ../sass/screen.scss */
.navBox .nav .navItem:last-child {
  border-bottom: none;
}

/* line 193, ../sass/screen.scss */
.bookInfo {
  margin: 0;
  padding: 20px;
  background: #fff;
  height: 100%;
}

/* line 199, ../sass/screen.scss */
.timeLine {
  width: 280px;
  margin: 0 auto;
  padding: 30px 0;
}
/* line 203, ../sass/screen.scss */
.timeLine .timeLineItem {
  overflow: hidden;
  position: relative;
  padding-bottom: 30px;
}
/* line 207, ../sass/screen.scss */
.timeLine .timeLineItem .time {
  text-align: right;
}
/* line 209, ../sass/screen.scss */
.timeLine .timeLineItem .time .day {
  font-size: 12px;
}
/* line 212, ../sass/screen.scss */
.timeLine .timeLineItem .time .hour {
  font-size: 14px;
  font-weight: 700;
}
/* line 216, ../sass/screen.scss */
.timeLine .timeLineItem .time p {
  margin: 5px 0;
}
/* line 220, ../sass/screen.scss */
.timeLine .timeLineItem .leftLine {
  border-left: 1px solid #76862e;
  padding-left: 23px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
  padding-bottom: 30px;
  margin-bottom: 1px;
  min-height: 50px;
  margin-top: 32px;
}
/* line 232, ../sass/screen.scss */
.timeLine .timeLineItem .userState {
  margin-top: -30px;
  padding: 5px;
  width: 160px;
  border-radius: 5px;
}
/* line 239, ../sass/screen.scss */
.timeLine .timeLineItem .userState .userInfo .userName {
  font-size: 14px;
  font-weight: 700;
}
/* line 243, ../sass/screen.scss */
.timeLine .timeLineItem .userState .userInfo .userClass {
  font-size: 14px;
}
/* line 248, ../sass/screen.scss */
.timeLine .timeLineItem .userIcon {
  margin: 0;
  left: 8px;
}
/* line 253, ../sass/screen.scss */
.timeLine .timeLineItem:last-child .leftLine {
  border: none;
}

/* line 257, ../sass/screen.scss */
.newsItem {
  overflow: hidden;
}
/* line 259, ../sass/screen.scss */
.newsItem .userIcon {
  margin-left: 0;
}

/* line 263, ../sass/screen.scss */
.commentList {
  padding-left: 40px;
}
/* line 265, ../sass/screen.scss */
.commentList .userIcon {
  width: 20px !important;
  height: 20px !important;
  margin-right: 7px;
}
/* line 270, ../sass/screen.scss */
.commentList p {
  line-height: 18px;
}

/* line 274, ../sass/screen.scss */
.commentBox {
  overflow: hidden;
  margin: 10px auto;
  position: relative;
}
/* line 278, ../sass/screen.scss */
.commentBox input[type='text'] {
  border: 1px solid #ececec;
  width: 100%;
  height: 30px;
  padding: 2px 5px;
  box-sizing: border-box;
  float: left;
  padding-right: 50px;
}
/* line 287, ../sass/screen.scss */
.commentBox textarea {
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #76862e;
  padding: 10px;
  resize: none;
  font-size: 14px;
}
/* line 296, ../sass/screen.scss */
.commentBox input[type="submit"] {
  background: #76862e;
  border: none;
  font-size: 14px;
  line-height: 34px;
  color: #fff;
  float: left;
  font-family: "微软雅黑", Raleway, sans-serif;
  position: absolute;
  right: 0;
  top: -3px;
  width: 50px;
}

/* line 310, ../sass/screen.scss */
.shadow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}
/* line 319, ../sass/screen.scss */
.shadow .shadowContent {
  width: 280px;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -140px;
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
}
/* line 328, ../sass/screen.scss */
.shadow .shadowContent h4 {
  padding: 0;
  margin: 5px 0;
}
/* line 332, ../sass/screen.scss */
.shadow .shadowContent p {
  margin: 0;
  line-height: 24px;
}
/* line 336, ../sass/screen.scss */
.shadow .shadowContent .mcolor {
  font-weight: 700;
}
/* line 339, ../sass/screen.scss */
.shadow .shadowContent h4.btn {
  text-align: right;
}
/* line 341, ../sass/screen.scss */
.shadow .shadowContent h4.btn .mcolor {
  margin-left: 15px;
}

/* line 348, ../sass/screen.scss */
.emptyPage img {
  margin: 50px auto 20px;
  display: block;
}
/* line 352, ../sass/screen.scss */
.emptyPage h3 {
  text-align: center;
}

/* line 357, ../sass/screen.scss */
.step {
  padding: 20px 0;
  position: relative;
}
/* line 360, ../sass/screen.scss */
.step h1 {
  text-align: center;
  color: #c2ce8c;
  margin: 20px auto;
  font-weight: 700;
  font-size: 18px;
}
/* line 367, ../sass/screen.scss */
.step h2 {
  margin: 20px auto;
  font-size: 18px;
  color: #999;
  cursor: pointer;
}
/* line 373, ../sass/screen.scss */
.step p {
  margin: 20px auto 40px;
  font-size: 14px;
  color: #999;
  cursor: pointer;
}
/* line 380, ../sass/screen.scss */
.step .current h2, .step .current p {
  color: #76862e;
}
/* line 384, ../sass/screen.scss */
.step .step-button {
  cursor: pointer;
  width: 100px;
  margin: 20px auto;
  color: #c2ce8c;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
/* line 392, ../sass/screen.scss */
.step .step-button img {
  width: 30px;
}
/* line 396, ../sass/screen.scss */
.step input[type="text"] {
  border: 1px solid #c2ce8c;
  background: none;
  border-radius: 5px;
  height: 40px;
  width: 300px;
  line-height: 40px;
  padding: 5px;
  box-sizing: border-box;
  display: block;
  margin: 20px auto;
  font-family: "微软雅黑", Raleway, sans-serif;
}
/* line 409, ../sass/screen.scss */
.step textarea {
  resize: none;
  width: 300px;
  border: 1px solid #c2ce8c;
  background: none;
  border-radius: 5px;
  padding: 5px;
  display: block;
  margin: 20px auto;
  font-family: "微软雅黑", Raleway, sans-serif;
  box-sizing: border-box;
}
/* line 421, ../sass/screen.scss */
.step .tip {
  width: 300px;
  font-size: 14px;
  color: #999;
  margin: 10px auto;
}
/* line 427, ../sass/screen.scss */
.step .tip.error {
  color: #d9534f;
  background: none;
}
/* line 431, ../sass/screen.scss */
.step .bookInfo {
  display: none;
  background: #c2ce8c;
  padding: 10px 35px 20px;
  overflow: hidden;
}
/* line 436, ../sass/screen.scss */
.step .bookInfo h3 {
  text-align: center;
  margin: 10px 0;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
/* line 443, ../sass/screen.scss */
.step .bookInfo img {
  width: 100px;
  margin-right: 15px;
}
/* line 447, ../sass/screen.scss */
.step .bookInfo p {
  max-width: 180px;
  margin: 0;
  color: #fff;
  font-size: 14px;
}
@media only screen and (max-width: 350px) {
  /* line 431, ../sass/screen.scss */
  .step .bookInfo {
    padding: 10px 15px 20px;
  }
}
/* line 457, ../sass/screen.scss */
.step .reback {
  cursor: pointer;
  background: #c2ce8c;
  color: #fff;
  padding: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* line 467, ../sass/screen.scss */
#stepChoose {
  padding: 20px 40px;
}

/* line 470, ../sass/screen.scss */
#stepIsbn, #stepWords {
  display: none;
}

/* line 475, ../sass/screen.scss */
.mcolor-help {
  color: #be607b;
}

/* line 478, ../sass/screen.scss */
.mcolor-help-bg {
  background: #be607b;
  color: #fff;
}

/* line 484, ../sass/screen.scss */
.like {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAAaCAYAAAD43n+tAAAB8UlEQVRYR+2VS04CQRCGqzpxXDpHgJ2Jj+AN5ATADWDDpFe6UKOycaMYMcFdBzbICfQG6g2Mj8SdeAPWQ6w2PQ7hkWmmG3FizLCCTnX99VUVfyP8sw/+Mx5Igf76RNMJpRNKuAOxK9fpdFzf93cAoEdED5zznqpRCJFBxAIiukTUHZ7PW//uSc51lmkHJPQY+g/nR2+BzmF9NfNJTgEZuAz87vBcpzMTSAhRZow1AcAdJiCiivrOGOuMJ1XnnPPreYD2TzfKANhEHOlIKQMdRJzQUeeN2rNWRwsUTuZ9HCam2L7jONlKpdK3gVKTWVqi93GYWfelhP5gwLJXJ4+ROlogIcQ2Y+zOpjgiynPO723u7NXXt5m01EHKXx69ROosFAgRt6rV6uNvA0n5udWovUbqzPwPtVotNdYVwwI/PM/LGMZOhB2cbRrrSAkfjdqTVicOqAgAN4ZFljzPuzWMnQLaKAKgoY4sXRw/a3VibTt0ugmnmS76Jw43zKWcbtrRpnXiHC5wRZOOzoJaBIwJlAmMMVD4kKo3aWFvj66RUZMyhbECCqGUlQf7S0RFW4s22QYVE1r5tw5SUWfRUfmMVm78YrvdzqnftvZsCjNav7VAR2fPunzWQLaFJR2fAiXdcVu9dEK2HUs6Pp1Q0h231fsC2/bOGwHZApQAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  display: block;
}

/* line 490, ../sass/screen.scss */
.like-normal {
  width: 10px;
  height: 16px;
  background-position: -5px -3px;
}

/* line 496, ../sass/screen.scss */
.like-active {
  width: 16px;
  height: 16px;
  background-position: -31px -5px;
}
