@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 19, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 22, ../sass/screen.scss */
.highLight {
  color: #000099;
}

/* line 25, ../sass/screen.scss */
.left {
  float: left;
}

/* line 28, ../sass/screen.scss */
.right {
  float: right;
}

/* line 31, ../sass/screen.scss */
.pointer {
  cursor: pointer;
}

/* line 34, ../sass/screen.scss */
body {
  background: #F7F6F6;
  font-size: 14px;
  font-family: "微软雅黑";
}

/* line 39, ../sass/screen.scss */
section {
  margin: 20px;
  box-sizing: border-box;
}

/* line 43, ../sass/screen.scss */
img {
  width: 100%;
}

/* line 46, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 49, ../sass/screen.scss */
.backTop {
  position: fixed;
  bottom: 30px;
  right: 20px;
  background: rgba(153, 0, 0, 0.5);
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

/* line 62, ../sass/screen.scss */
.ownerWords, .ownerName {
  margin: 5px 0;
  line-height: 18px;
}

/* line 66, ../sass/screen.scss */
.bookCover {
  width: 60%;
  margin: 20px auto;
  display: block;
}

/* line 71, ../sass/screen.scss */
.bookAction {
  font-size: 14px;
  color: #990000;
  font-weight: 700;
  margin-bottom: 20px;
}

/* line 77, ../sass/screen.scss */
.bookValue {
  background: #990000;
  color: #fff;
  width: 100%;
  text-align: center;
  line-height: 35px;
}

/* line 85, ../sass/screen.scss */
header {
  background: #F7F6F6;
  height: 45px;
  width: 100%;
  padding: 5px 20px;
  box-sizing: border-box;
  line-height: 35px;
  border-bottom: 1px solid #ececec;
}
/* line 93, ../sass/screen.scss */
header img {
  height: 35px;
  float: left;
}
/* line 97, ../sass/screen.scss */
header .ion {
  float: right;
  display: block;
  margin-left: 10px;
  font-size: 28px;
  color: #999;
  line-height: 35px;
  cursor: pointer;
}

/* line 108, ../sass/screen.scss */
.bookList .bookItem {
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
  color: #666;
  margin-bottom: 20px;
  overflow: hidden;
}
/* line 116, ../sass/screen.scss */
.bookList .bookItem:last-child {
  margin-bottom: 0;
}

/* line 120, ../sass/screen.scss */
.tabBox {
  display: none;
  background: #fcfcfc;
  margin: 0;
  padding: 10px 20px 5px;
}
/* line 125, ../sass/screen.scss */
.tabBox .tab {
  line-height: 18px;
  margin: 10px 0;
  overflow: hidden;
}
/* line 129, ../sass/screen.scss */
.tabBox .tab .tabItem {
  float: left;
  padding: 0 5px;
  color: #666;
}
/* line 134, ../sass/screen.scss */
.tabBox .tab .current {
  font-weight: 700;
  color: #990000;
}
/* line 138, ../sass/screen.scss */
.tabBox .tab .level1 {
  font-weight: 700;
  color: #000;
}
/* line 143, ../sass/screen.scss */
.tabBox .searchBox {
  position: relative;
}
/* line 145, ../sass/screen.scss */
.tabBox .searchBox .search {
  display: block;
  width: 100%;
  margin: 10px auto;
  padding: 5px 10px;
  box-sizing: border-box;
  text-align: center;
  color: #999;
  font-size: 14px;
  line-height: 20px;
  border-radius: 5px;
  border: 1px solid #ececec;
}
/* line 158, ../sass/screen.scss */
.tabBox .searchBox .searchNotic {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 35px;
  text-align: center;
  color: #999;
}

/* line 169, ../sass/screen.scss */
.navBox {
  display: none;
  background: #fcfcfc;
  margin: 0;
  padding: 10px 0px 5px;
}
/* line 174, ../sass/screen.scss */
.navBox .nav {
  margin: 0;
  text-align: center;
}
/* line 177, ../sass/screen.scss */
.navBox .nav .navItem a {
  display: block;
  font-size: 16px;
  color: #999;
  border-bottom: 1px solid #ececec;
  line-height: 35px;
  list-style: none;
}
/* line 185, ../sass/screen.scss */
.navBox .nav .navItem a::before {
  font-size: 18px;
  margin-right: 8px;
}
/* line 189, ../sass/screen.scss */
.navBox .nav .navItem:last-child {
  border-bottom: none;
}

/* line 194, ../sass/screen.scss */
.bookInfo {
  margin: 0;
  padding: 20px;
  background: #fff;
}

/* line 199, ../sass/screen.scss */
.timeLine {
  width: 100%;
  padding: 30px 0;
}
/* line 202, ../sass/screen.scss */
.timeLine .timeLineItem {
  overflow: hidden;
}
/* line 204, ../sass/screen.scss */
.timeLine .timeLineItem .time {
  text-align: right;
}
/* line 206, ../sass/screen.scss */
.timeLine .timeLineItem .time .day {
  font-size: 12px;
}
/* line 209, ../sass/screen.scss */
.timeLine .timeLineItem .time .hour {
  font-size: 14px;
  font-weight: 700;
}
/* line 214, ../sass/screen.scss */
.timeLine .timeLineItem .userIcon {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border-radius: 50%;
  border: 2px solid #990000;
  overflow: hidden;
  background: rgba(153, 0, 0, 0.5);
}
/* line 223, ../sass/screen.scss */
.timeLine .timeLineItem .userState {
  background: rgba(153, 0, 0, 0.2);
  padding: 10px;
  width: 180px;
  border-radius: 5px;
}
/* line 229, ../sass/screen.scss */
.timeLine .timeLineItem .userState .userInfo .userName {
  font-size: 16px;
  font-weight: 700;
}
/* line 233, ../sass/screen.scss */
.timeLine .timeLineItem .userState .userInfo .userClass {
  font-size: 12px;
}
